<% extend('../layout') %>

<h1 class="h3"><%= title %></h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>

<div class="form-group mt-4">
  <form action="/<%= route_prefix %>/prihlasit" method="post">
    <input type="text" name="email" placeholder="Email" class="form-control" />
    <input type="password" name="password" placeholder="Heslo" class="form-control mt-3" />
    <input type="submit" name="submit" value="Přihlásit se" class="btn btn-primary mt-3" />
  </form>
</div>