<% extend('../../../layout') %>
 
<h1 class="h3 mb-4"><%= list_title %></h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>

<div id="accordion">

  <% if (offers.length === 0) { %>

    <p class="py-2 text-info">Žádné nabídky.</p>

  <% } else { %>

    <% for (const offer of offers) { %>

      <div class="p-2 mt-3">
  
        <div class="row">
          <div class="col-md-6">
            <h2 class="h4"><%= offer.offer_name %></h2>
          </div>
          <div class="col-md-6 text-right">
            <p><%= offer.user_name %></p>
          </div>
        </div>
        
        <p class="text-secondary mt-3"><%= offer.offer_description %></p>
  
        <%- include('../../../partials/_front_offers_application_card', { id: offer.offer_id } ) %>      
      </div>
  
    <% } %>    

  <% } %>

</div>