<div class="mt-4">
  <h3 class="h4">Reakce na moje nabídky</h3>

  <% if (incomingApplications.length === 0) { %>

    <p class="py-2 text-info">Nemáte žádné reakce.</p>

    <% } else { %>

      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Nabídka</th>
            <th scope="col">Od</th>
            <th scope="col">Zpráva</th>
          </tr>
        </thead>

        <% for (const application of incomingApplications) { %>
          <tr>
            <td><%= application.offer_name %></td>
            <td><%= application.user_name %></td>
            <td><%= application.message %></td>
          </tr>  
        <% } %>
      </table>

  <% } %>
</div>