<div class="mt-4">
  <h3 class="h4">Moje nabídky</h3>

  <% if (offers.length === 0) { %>

    <p class="py-2 text-info">Nemáte žádné nabídky.</p>

    <% } else { %>

      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Název</th>
            <th scope="col">Popis</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <% for (const offer of offers) { %>
          <tr>
            <td><%= offer.name %></td>
            <td><%= offer.description %></td>
            <td><a href="/<%= route_prefix %>/nabidky/<%= offer.id %>/upravit">Upravit</a></td>
            <td><a href="/<%= route_prefix %>/nabidky/<%= offer.id %>/smazat">Smazat</a></td>
          </tr>  
        <% } %>
      </table>

  <% } %>
</div>