<div class="card">
  <div class="card-header" id="heading<%= id %>">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%= id %>" aria-expanded="false" aria-controls="collapse<%= id %>">
        Mám zájem
      </button>
    </h5>
  </div>
  <div id="collapse<%= id %>" class="collapse" aria-labelledby="heading<%= id %>" data-parent="#accordion">
    <div class="card-body form-group">

      <% if (user && user_type === user_type_allowed_to_send_application) { %>

        <p class="font-weight-bold">Odeslat zájem</p>
        <form action="/<%= route_prefix %>/odeslat-zajem/<%= id %>" method="post">
          <textarea name="message" class="form-control" required>Proč vy?</textarea>
          <input type="submit" name="submit" class="btn btn-primary mt-2" />
        </form>
      
      <% } else { %>

        <% if (user) { %>

          <p>Z aktuálně přihlášeného účtu nemůžete poslat zájem na tuto nabídku.</p>

        <% } else { %>
      
          <p>Pokud chcete poslat zájem, musíte se <a href="/<%= route_prefix %>/prihlasit">přihlásit</a>.</p>

        <% } %>
      
      <% } %>

    </div>
  </div>
</div>