<div class="col-md-3">
  <div class="left-column p-3">

  <% if (user) { %>

    <% if (user_type === 'students') { %>
      <%- include('nav/logged', { 
        route_prefix:'student', 
        'offer_list_text':'Nabídky pro studenty',
        'opposite_link_text': 'Nabídky pro firmy',
        'opposite_title': 'Pro firmy',
        'opposite_route_prefix': 'firma'
      }) %> 
    <% } else { %>
      <%- include('nav/logged', { 
        route_prefix:'firma', 
        'offer_list_text':'Nabídky pro firmy',
        'opposite_link_text': 'Nabídky pro studenty',
        'opposite_title': 'Pro studenty',
        'opposite_route_prefix': 'student'
      }) %> 
    <% } %>

  <% } else { %>
    <%- include('nav/unlogged') %> 
  <% } %>
  
  </div>
</div>