<% extend('layout') %>
 
<h1 class="h3">Vítejte na stránce Ulov Diplomku!</h1>

<h3 class="h5 mt-5">Jste student(a) a hledáte téma práce?</h3>

<p class="mt-4">Podívejte se na <a href="/student/nabidky">nabídky od firem</a>.</p>
<p>Abyste mohli na nabídky reagovat, musíte se <a href="/student/registrovat">zaregistrovat</a>.</p>

<h3 class="h5 mt-4">Zastupujete firmu?</h3>

<p class="mt-4">Podívejte se na <a href="/firma/nabidky">nabídky od studentů</a>.</p>
<p>Abyste mohli na nabídky reagovat a sami nabídku přidat, musíte se <a href="/firma/registrovat">zaregistrovat</a>.</p>