<!DOCTYPE html>
<html>
<head>
  <title>UlovDiplomku.cz</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  
  <%- include('partials/_layout_header') %> 

  <div class="container">
    <div class="row">

      <%- include('partials/_layout_nav') %> 

      <div class="col-md-9 p-3">
        <div class="">

          <%- content %>
        
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/_layout_footer') %> 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>