<% extend('../../../layout') %>

<h1 class="h3">Přidat nabídku</h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>

<div class="form-group mt-4">
  <form action="/<%= route_prefix %>/nabidky/pridat" method="post">
      <input type="text" name="name" class="form-control mt-3" placeholder="Název *" required/>
      <textarea name="description" placeholder="Popis *" class="form-control mt-3" required></textarea>
      <input type="submit" name="submit" value="Přidat" class="btn btn-primary mt-3" />
  </form>
</div>
