<% extend('../../../layout') %>

<h1 class="h3">Upravit nabídku</h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>

<div class="form-group mt-4">
  <form action="/<%= route_prefix %>/nabidky/<%= offer.id %>/upravit" method="post">
      <input type="text" name="name" class="form-control mt-3" placeholder="Název *" value="<%= offer.name %>" required />
      <textarea name="description" placeholder="Popis *" class="form-control mt-3" required><%= offer.description %></textarea>
      <input type="submit" name="submit" value="Upravit" class="btn btn-primary mt-3" />
  </form>
</div>