<% extend('../layout') %>

<h1 class="h3">Vytvořit účet pro firmu</h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>
  
<div class="form-group mt-4">  
  <form action="/firma/registrovat" method="post">
      <input type="email" name="email" placeholder="Email *" class="form-control mt-3" required />
      <input type="text" name="name" placeholder="Jméno *" class="form-control mt-3" required />
      <input type="password" name="password" placeholder="Heslo *" class="form-control mt-3" required minlength="6" />

      <p class="pt-4">Doplňující informace o vaší firmě</p>
      <input type="url" name="website" placeholder="Webové stránky" class="form-control mt-3" />
      <textarea name="about" placeholder="O firmě" class="form-control mt-3"></textarea>
      <input type="submit" name="submit" value="Registrovat" class="btn btn-primary mt-3" />
  </form>
</div>