<% extend('../layout') %>
 
<h1 class="h3">Vítejte ve studentském účtu!</h1>

<% if (success) { %>
  <p class="p-2 mt-3 text-success"><%= success %></p>
<% } %>

<div class="mt-5">

  <%- include('../partials/_back_offer_list') %>
  <%- include('../partials/_back_application_list') %>
  <%- include('../partials/_back_my_application_list') %>

</div>
