<% extend('../layout') %>

<h1 class="h3">Vytvořit účet pro studenta</h1>

<% if (formError) { %>
  <p class="p-2 mt-3 text-danger"><%= formError %></p>
<% } %>
  
<div class="form-group mt-4">  
  <form action="/student/registrovat" method="post">
      <input type="email" name="email" placeholder="Email *" class="form-control mt-3" required />
      <input type="text" name="name" placeholder="Jméno *" class="form-control mt-3" required />
      <input type="password" name="password" placeholder="Heslo *" class="form-control mt-3" required minlength="6" />

      <p class="pt-4">Doplňující informace o vás</p>
      <input type="url" name="linkedin" placeholder="LinkedIn" class="form-control mt-3" />
      <input type="text" name="school" placeholder="Škola" class="form-control mt-3" />
      <input type="text" name="faculty" placeholder="Fakulta" class="form-control mt-3" />
      <input type="text" name="specialization" placeholder="Obor" class="form-control mt-3" />
      <input type="text" name="grade" placeholder="Ročník" class="form-control mt-3" />
      <input type="submit" name="submit" value="Registrovat" class="btn btn-primary mt-3" />
  </form>
</div>
