<h3 class="h5"><%= user.name %></h3>
<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link" href="/">Můj účet</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/<%= route_prefix %>/nabidky/pridat">Přidat nabídku</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/<%= route_prefix %>/nabidky"><%= offer_list_text %></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/logout">Odhlásit se</a>
  </li>
</ul>


<h3 class="h5 mt-3"><%= opposite_title %></h3>
<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link" href="/<%= opposite_route_prefix %>/nabidky"><%= opposite_link_text %></a>
  </li>
</ul>