<h3 class="h5">Pro studenty</h3>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/student/nabidky">Nabídky</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/student/prihlasit">Přihlásit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/student/registrovat">Registrovat</a>
  </li>
</ul>

<h3 class="h5 mt-4">Pro firmy</h3>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/firma/nabidky">Nabídky</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/firma/prihlasit">Přihlásit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/firma/registrovat">Registrovat</a>
  </li>
</ul>